html {
  background: var(--rd-background);
  color: var(--rd-text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

[data-theme='dark'] {
  background: #141414;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

.root {
  display: flex;
}

.menu {
  padding: 10px;
  width: 200px;
}

.menu a {
  border-radius: 6px;
  display: block;
  color: var(--rd-text);
  padding: 8px 16px;
  text-decoration: none;
}

.menu a.active {
  color: var(--rd-primary);
}

.menu a:hover {
  background-color: var(--rd-bg-disabled);
}

.content {
  flex: 1;
  padding: 0 32px;
}

.toggle-theme {
  margin-top: 24px;
}
