html:has(.rd-modal) {
  overflow: hidden;
  pointer-events: none;
}

.rd-modal-wrapper {
  inset: 0;
  overflow: auto;
  position: fixed;
  z-index: 1000;
}

.rd-modal {
  animation: rd-scaleUp 0.3s;
  box-sizing: border-box;
  margin: 100px auto 24px;
  max-width: calc(100vw - 32px);
  width: 520px;
  z-index: 1001;
}

.rd-modal.rd-full {
  border-radius: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: none;
  min-height: 100%;
  width: 100%;
}
.rd-modal.rd-full .rd-body,
.rd-modal.rd-large .rd-body {
  flex: 1;
}
.rd-modal.rd-large {
  display: flex;
  flex-direction: column;
  margin: 24px 0 24px 24px;
  width: calc(100vw - 48px);
  max-width: none;
  min-height: calc(100% - 48px);
}

@keyframes rd-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rd-centered {
  align-items: center;
  display: flex;
  justify-content: center;
}
.rd-centered .rd-modal {
  margin: 0;
}

.rd-mask {
  animation: rd-opacity 0.3s;
  background: rgba(0, 0, 0, 0.45);
  inset: 0;
  pointer-events: none;
  position: fixed;
  z-index: 1000;
}
