.rd-btn {
  background: var(--rd-primary);
  border: 1px solid transparent;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  line-height: 22px;
  outline: none;
  padding: 4px 15px;
  transition: all 0.2s;
  user-select: none;
  touch-action: manipulation;
}

.rd-btn:not(:disabled):focus-visible {
  outline: 4px solid #91caff;
  outline-offset: 1px;
  transition:
    outline-offset 0s,
    outline 0s;
}

.rd-btn:hover {
  background: var(--rd-primary-light);
}

.rd-btn-secondary {
  background: none;
  border: 1px solid var(--rd-btn-border);
  color: var(--rd-text);
}
.rd-btn-secondary:hover {
  background: none;
  border: 1px solid var(--rd-primary);
  color: var(--rd-primary);
}

.rd-btn-text {
  background: none;
  color: var(--rd-text);
}
.rd-btn-text:hover {
  background: var(--rd-hover-shadow);
}
.rd-btn.rd-btn-text:disabled {
  background: none;
  border: none;
}

.rd-btn-loading {
  background: #ccc;
  cursor: not-allowed;
}

.rd-btn:disabled {
  background: var(--rd-bg-disabled);
  border: 1px solid var(--rd-btn-border);
  color: var(--rd-text-disabled);
  cursor: not-allowed;
}

.rd-textfield {
  display: block;
  padding-bottom: 10px;
}

.rd-label {
  padding-bottom: 2px;
}

.rd-input {
  background: var(--rd-background);
  border: 1px solid var(--rd-btn-border);
  border-radius: 6px;
  box-sizing: border-box;
  color: var(--rd-text);
  font-size: 14px;
  padding: 6px 11px;
  transition: all 0.2s;
  width: 100%;
}

.rd-input:hover {
  border-color: var(--rd-primary-light);
}

.rd-input:focus-visible {
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 3px 1px var(--rd-primary);
}
