.rd-btn {
  align-items: center;
  background: var(--rd-primary);
  border: 1px solid transparent;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  line-height: 22px;
  min-height: 32px;
  outline: none;
  padding: 4px 15px;
  touch-action: manipulation;
  transition: all 0.2s;
  user-select: none;
  white-space: nowrap;
}

.rd-btn:not(:disabled):focus-visible {
  outline: 4px solid #91caff;
  outline-offset: 1px;
  transition:
    outline-offset 0s,
    outline 0s;
}

.rd-btn:hover {
  background: var(--rd-primary-light);
}

.rd-btn-secondary {
  background: none;
  border: 1px solid var(--rd-btn-border);
  color: var(--rd-text);
}
.rd-btn-secondary:hover {
  background: none;
  border: 1px solid var(--rd-primary);
  color: var(--rd-primary);
}

.rd-btn-text {
  background: none;
  color: var(--rd-text);
}
.rd-btn-text:hover {
  background: var(--rd-hover-shadow);
}
.rd-btn.rd-btn-text:disabled {
  background: none;
  border: none;
}

.rd-btn-loading {
  opacity: 0.65;
}
.rd-btn-loading .rd-spinner {
  color: #fff;
}

.rd-btn:disabled {
  background: var(--rd-bg-disabled);
  border: 1px solid var(--rd-btn-border);
  color: var(--rd-text-disabled);
  cursor: not-allowed;
}

.rd-textfield {
  display: block;
  padding-bottom: 10px;
}

.rd-label {
  padding-bottom: 2px;
}

.rd-input {
  background: var(--rd-background);
  border: 1px solid var(--rd-btn-border);
  border-radius: 6px;
  box-sizing: border-box;
  color: var(--rd-text);
  font-size: 14px;
  padding: 6px 11px;
  transition: all 0.2s;
  width: 100%;
}

.rd-input:hover {
  border-color: var(--rd-primary-light);
}

.rd-input:focus-visible {
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 3px 1px var(--rd-primary);
}

.rd-spinner {
  color: var(--rd-primary);
  overflow: visible;
  width: 16px;
}
.rd-spinner-fg {
  animation: 1.3s linear 0s infinite normal none running rd-spinner-animation;
}
@keyframes rd-spinner-animation {
  0% {
    stroke-dashoffset: 325;
  }
  100% {
    stroke-dashoffset: 151;
  }
}
