.rd-dialog {
  background: var(--rd-bg);
  color: var(--rd-text);
  border-radius: 8px;
  box-shadow:
    0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  padding: 20px 24px;
  position: relative;
  transition: all 0.3s;
}

.rd-dialog-close {
  background: transparent;
  border-radius: 4px;
  border: none;
  color: var(--rd-text);
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  height: 32px;
  line-height: 1;
  opacity: 0.3;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 32px;
}

.rd-dialog-close + div {
  padding-right: 24px;
}

.rd-dialog-close:hover {
  background: var(--rd-hover-shadow);
}

.rd-header {
  font-weight: 600;
}
.rd-header + .rd-body {
  padding-top: 8px;
}
.rd-body + .rd-footer {
  padding-top: 8px;
}
div + .rd-footer,
div + .rd-footer {
  padding-top: 8px;
}

.rd-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: end;
}

.rd-left {
  justify-content: start;
}

.rd-center {
  justify-content: center;
}

.rd-right {
  justify-content: end;
}

.rd-icon-wrap {
  position: absolute;
}
.rd-icon-wrap ~ .rd-header,
.rd-icon-wrap ~ .rd-body {
  padding-left: 40px;
}

.rd-iconbox-content {
  flex: 1;
  padding-left: 16px;
}

.rd-notification-icon {
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  pointer-events: none;
  text-align: center;
  width: 24px;
}

.rd-info .rd-notification-icon {
  background: var(--rd-primary);
}
.rd-info .rd-notification-icon:after {
  content: 'i';
}
.rd-success .rd-notification-icon {
  background: var(--rd-success);
}
.rd-success .rd-notification-icon:after {
  content: '✓';
}
.rd-warning .rd-notification-icon {
  background: var(--rd-warning);
}
.rd-warning .rd-notification-icon:after {
  content: '!';
}
.rd-error .rd-notification-icon {
  background: var(--rd-error);
}
.rd-error .rd-notification-icon:after {
  content: '🞩';
}
